﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.m-2 {
    margin: 3%!important;
}

.m-1 {
    margin: 2% !important;
}

input {
    max-width: inherit !important;
}

.bg-table {
    background-color: #84ccce;
}

thead {
    background-color: #84ccce;
}

.dt-DataTablebootstrap4 {
    border-top: outset!important;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
            margin-top: 20px;
        }

        .body-content {
            padding: 0;
        }
    }
